body{
  margin: 0px!important;
  padding: 0px!important;
}
#stacks{
  display: none!important;
}
#stacks_print, .no_web{
  display: block!important;
  font-size: 13px!important;
}
#personal , #education, #extract, #skills, #projects{
  background-color: #48999c!important;
  color: white!important;
}
#extract , #projects{
  page-break-before: always!important;
}
#projects{
  page-break-inside: avoid!important;
}
.panel-body{
  background-color: white!important;
}
.panel-heading{
  background-color: #337ab7!important;
  color: white!important;
}
.panel-footer{
   background-color: #c1def7!important;
}
#constancias{
  page-break-before: avoid;
}
